div, img{
    border:0;
    margin: 0;
    padding: 0;
}
#body{
    width: 80%;
    margin: auto;
}
#head{
    font-family: "Microsoft YaHei UI", Consolas, Arial, serif;
    height: 77px;
    width: 100%;
    position: relative;
    background: #FFFFFF;
    margin-top: 0;
}
#logo{
    float: left;
    width: 163px;
    height: 34px;
    margin: 20px 10px;
}
#login_register{
    float: right;
    margin: 25px 0 10px 10px;
    height: 27px;
    width: 13%;
}

#login, #register{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #787878;
}
#login:before, #register:before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #4285f4;
    transition: all .3s;
}
#login:hover,#register:hover{
    color: #000;
}
#login:hover:before, #register:hover:before{
    right: 0;
    left: 0;
    width: 100%;
}
.clear{
    clear: both;
}