*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}

#main_div{
    margin: 0;
    width: 48px;
    height: 100%;
    background-color: #f4fbe2;
}
div{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
#logo img{
    margin: 10px 0 0 0;
    width: 36px;
    height: 36px;
}
div{
    height: 42px;
    width: 48px;
}

#star_hover_wrap, #notes_hover_wrap, #books_hover_wrap, #label_hover_wrap{
    display: none;
    position: absolute;
}
#new_hover_wrap{
    display: none;
    position: absolute;

}
#star{
    margin: 72px 0 0 0;
}
#logo{
    margin: 0 0 12px 0;
}
#new {
    cursor: pointer;
}
#star, #notes, #books, #label{
    cursor: pointer;
}
#user_img{
    bottom: 50px;
    height: 36px;
    width: 35px;
}
#user_info{
    margin: 0 0 0 0;
    position: fixed;
    cursor: pointer;
    bottom: 10px;
}

#user_img img{
    height: 36px;
    width: 35px;
}

img{
    user-select: none;
}