#notes_title{
    margin: 10px 10px 0;
}
.optionTab{
    margin: 0 25px 0 0;
    float: right;
}
#middle_top{
    margin: 0;

}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow-y: hidden;
}

#note_body{
    width: 100%;
    height: 100%;
}
.notes_num{
    margin: 3px 8px;
    float: left;
    color: #787878;
}
.clear{
    width: 270px;
    clear: both;
    margin: 0;
}
#option{
    position: relative;
    margin: 0;
    width: 270px;
    height: 34px;
}
#notes_list{
    width: 275px;
    height: auto;
    /*要用js....*/
    overflow: hidden scroll;
    user-select: none;
}
.canoselected{
    user-select: none;
}
.lead{
    font-size: 23px;
}
.note{
    cursor: pointer;
    color: #000000;
    text-align: left;
    height: 68px;
    width: 265px;
    padding: 10px 10px;
    transition: background 0.2s;
}
.note:hover {
    background-color: #2dce60;
    color: #FFFFFF;
    transition: background 0.2s;
}

#note_title{
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 70px;
    font-size: 18px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
#note_excerpt{
    color: #646464;
    margin: 0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
hr{
    margin: 0;
}
.smallicon{
    margin: 0 3px;
}